import(forecast,KFAS)
importFrom(MuMIn, dredge)
importFrom("graphics", "lines", "plot")
importFrom("stats", "lm", "logLik", "na.omit", "optim", "predict","var")
importFrom("utils", "head", "tail")
exportPattern("^[^\\.]")