importFrom(forecast, auto.arima, forecast, BoxCox.lambda, BoxCox, InvBoxCox, ndiffs, nsdiffs)
importFrom(KFAS, SSMarima, SSModel, artransform, fitSSM, SSMcustom, KFS)
importFrom(MuMIn, dredge, AICc)
importFrom(EMD, emd, emd.pred)
importFrom(wavelets, wt.filter, modwt, imodwt)
importFrom(vars, VAR)
importFrom("graphics", "lines", "plot")
importFrom("stats", "lm", "logLik", "na.omit", "optim", "predict","var")
importFrom("stats", "diffinv", "frequency", "poly", "ts")
importFrom("utils", "head", "tail")
exportPattern("^[^\\.]")